<div class="ca-display">

	<div class="ca-prefix">
		<i class="fa"
		   ng-class="{price: 'fa-usd', delta: 'fa-usd', spread: 'fa-caret-right'}[type]"></i>
	</div>

	<div class="ca-main" ng-switch on="type">
		<span ng-switch-default ng-show="show(cur, 0)">{{ cur }}</span>
		<span ng-switch-default ng-hide="show(cur, 0)">-</span>

		<span ng-switch-when="delta" ng-show="show(diffBaseline(cur, baseline), 0)">{{ diffBaseline(cur, baseline) | round }}</span>
		<span ng-switch-when="delta" ng-hide="show(diffBaseline(cur, baseline), 0)">-</span>
	</div>

	<div class="ca-suffix">/
		<i class="fa"
		   ng-class="{price: 'fa-bitcoin', delta: 'fa-bitcoin', spread: 'fa-caret-left'}[type]"></i>
	</div>

</div>

<span class="label"
      ng-show="show(diff(cur, pre, true), 0.009)"
      ng-class="'label-' + (diff(cur, pre) > 0 ? 'success' : 'danger')">
	<i class="fa"
	   ng-class="'fa-arrow-' + (diff(cur, pre, true) > 0 ? 'up' : 'down')"></i>
	{{ diff(cur, pre, true) | pct }}
</span>
<br/>
{{ name }}