@import "../bower_components/bootstrap/less/bootstrap.less";
//@import "../bower_components/less-prefixer/prefixer.less";
@import "../bower_components/lesshat/build/lesshat-prefixed.less";
@import "../ca-chart/ca-chart.less";
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

// bootstrap override
@grid-gutter-width: 0;
@brand-success: darken(#5cb85c, @ca-adj-bs-color);
@brand-danger: darken(#d9534f, @ca-adj-bs-color);
@font-family-monospace: 'Ubuntu Mono', monospace;
@font-family-sans-serif: 'Droid Sans', sans-serif;

// custom
@ca-split: .60; // top

@ca-dark-1: lighten(black, 5%);
@ca-dark-2: lighten(black, 10%);
@ca-dark-3: lighten(black, 20%);
@ca-dark-4: lighten(black, 30%);
@ca-light-1: darken(white, 10%);
@ca-light-2: darken(white, 50%);
@ca-hover-color: @ca-dark-2;
@ca-adj-bs-color: 40%; // darken by this to fit dark theme better

@ca-easing-func: linear;
@ca-easing-func-2: cubic-bezier(.55,-0.26,.27,.96); // ray's self built
@ca-easing-func-3: cubic-bezier(0.250, 0.250, 0.115, 1.445); // looks the best

html, body {
	background-color: black;
	color: @ca-light-2;
	height: 100%;
}

@media (min-width: @screen-md-min) {
	.ca-fullscreen {
		z-index: 50;
		position: fixed;
		top: 10px; right: 15px;
		color: white;
		opacity: 0.25;
		.lh-scale(1.5);
		.lh-transition(all 0.15 linear);

		&:hover {
			color: @brand-info;
			opacity: 1;
			.lh-scale(2);
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
		}
	}
}

.ca-nav {
	position: relative;
	width: 60px;
	height: 100%;
	text-align: center;
	float: left;
	background-color: black;

	.ca-clock {
		font-family: @font-family-monospace;
	}

	.ca-nav-item {
		width: 100%;
		line-height: 60px;

		i { vertical-align: middle }

		&:hover {
			background-color: @ca-light-1;
			color: @ca-dark-1;
		}
	}
}

.ca-nav-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 18vw;
	height: 100%;
	background-color: @ca-dark-1;
	.lh-transition(transform 0.5);
	z-index: -999;
}

.ca-content-wrapper {
	background: @ca-dark-1;
	width: 100%;
	height: 100%;

	section#ca-exchanges {
		.make-row();
		height: 100% * @ca-split;

		div.ca-exchange {
			height: 100%;
			text-align: center;
//			.lh-transition(all 0.25s @ca-easing-func-3);
//			.transform-origin(top);

			&:hover {
				background-color: @ca-dark-2;
//				.lh-scale(1.05);
//				z-index: 500;
			}

			&.ca-baseline {
				box-shadow: inset 0 5px @brand-info;
//				z-index: 1;
			}

			div.ca-display {
				margin: 10px 0 10px 0;

				div.ca-prefix {
					display: inline-block;
					vertical-align: middle;
				}

				div.ca-main {
					display: inline-block;
					width: 7ch; // width of 0 character
					text-align: right;
					color: @ca-light-1;
					font-family: @font-family-monospace;
					font-size: 2.5em;
					vertical-align: middle;

					.lh-transition(all 0.15s @ca-easing-func);
					.lh-transform-origin(center center);

					&.change {
						.lh-scale(1.1);
						color: white;
					}
				}

				div.ca-suffix {
					display: inline-block;
					vertical-align: middle;
				}

				div.ca-opp-label {
					height: 1.5em;
				}

				.ca-best {
					color: @brand-info !important;
					.lh-transition(all 0.25s @ca-easing-func);

					&.ng-hide-add, &.ng-hide-remove {
						display: block !important;
					}

					&.ng-hide {
						color: white !important;
						.lh-scale(2);
					}

				}

			}
		}
	}

	section#ca-chart {
		position: relative; // required to make loader centered
		height: 99% * (1 - @ca-split);
		// 99% - hack to remove scroll bar
	}
}

button.ca-btn {
	color: @ca-light-1;
	background-color: @ca-dark-3;
	border: 1px solid @ca-dark-4;
	margin: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	.lh-transition(all 0.2s @ca-easing-func);
//	white-space: nowrap;

	&:hover {
		background-color: @ca-dark-1;
		border: 1px solid @ca-dark-1;
	}

	&:focus { outline: 0;	}

	&.ca-btn-baseline {
		border: 1px solid @brand-info;
		color: @brand-info;
		.lh-transition(all 0.1s @ca-easing-func);

		&:hover {
			background-color: @ca-dark-1;
			.lh-scale(1.05);
		}
	}
}

a.ca-btn {
	color: @ca-dark-3;
	.lh-transition(all 0.2s @ca-easing-func);

	&:hover { color: @ca-dark-4 }
}

.label { font-weight: normal }

div.ca-loader {
//	z-index: 999;
	width: 80px;
	height: 80px;
	margin: auto;
//	overflow: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

	.lh-transition(all 0.25s @ca-easing-func);

	&.ng-hide-add, &.ng-hide-remove {
		display: block!important;
	}

	&.ng-hide {
		.lh-scale(0.75);
		opacity: 0.5;
	}

}

div.ca-blur {
	.lh-transition(filter 0.35 @ca-easing-func);
	.lh-blur(3px);

	&.disabled { .lh-filter(none) }
}

.ca-beta {font-family: @font-family-monospace; font-weight: bold; color: @brand-info}


.ca-wrapper {
	height: 100%;
	.lh-perspective(2000px);
}

.ca-pusher {
	width: calc(~"100% - 60px");
	height: 100%;
	float: left;
	.lh-transform-style(preserve-3d);
	.lh-transition(transform 0.5);
	z-index: 99;
}

.ca-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	.lh-transition(opacity 0.5s linear);
	z-index: 99;
}

.ca-open {
	.ca-pusher::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		.lh-transition(opacity 0.5);
	}

	// .ca-content-wrapper {
	//	.lh-transition(all 0.5s linear);
	//	opacity: .5;
	//}

	.ca-pusher {
		.lh-transform(translate3d(12%, 0, -50em) rotateY(-10deg)); // x/y/z
		// doing lh- separately causes only 1 transform to be effective
	}

	.ca-nav-content {
		.lh-transition(transform 0.5);
		.lh-transform(translateX(100%));
	}
}


//.ca-nav::after {
//	display: none;
//}