@import "../bower_components/bootstrap/less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

// bootstrap override
@grid-gutter-width: 0;
@brand-success: darken(#5cb85c, @ca-adj-bs-color);
@brand-danger: darken(#d9534f, @ca-adj-bs-color);
@font-family-monospace: 'Ubuntu Mono', monospace;
@font-family-sans-serif: 'Droid Sans', sans-serif;

// custom
@ca-split: .70; // top
@ca-dark-1: lighten(black, 5%);
@ca-dark-2: lighten(black, 10%);
@ca-dark-3: lighten(black, 15%);
@ca-dark-4: lighten(black, 20%);
@ca-light-1: darken(white, 10%);
@ca-light-2: darken(white, 50%);
@ca-hover-color: @ca-dark-2;
@ca-adj-bs-color: 35%;
//@ca-green: #003A00;
//@ca-red: #3E0000;

.ca-blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

body {
	background-color: @ca-dark-1;
	color: @ca-light-2;
}

div#ca-exchanges {
	.make-row();

	div.ca-exchange {
//		.make-lg-column(2);
		height: @ca-split * 100vh;
		text-align: center;

		&:hover {
			background-color: @ca-dark-2;
		}
	}
}

div#ca-visual {
	height: (1 - @ca-split) * 100vh;
}

div.ca-display {
//	.make-row();

	div.ca-prefix {
//		.make-lg-column(1);
		display: inline-block;
		vertical-align: middle;
	}

	div.ca-main {
//		.make-lg-column(10);
		display: inline-block;
		width: 7ch;
		text-align: right;
		color: @ca-light-1;
		font-family: @font-family-monospace;
		font-size: 2.5em;
		vertical-align: middle;
	}

	div.ca-suffix {
//		.make-lg-column(1);
		display: inline-block;
		vertical-align: middle;
	}
}

button.ca-button {
	display: inline-block;
	color: @ca-light-1;
	background-color: @ca-dark-2;
	border: 1px solid @ca-dark-3;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	&:hover {
		background-color: @ca-dark-1;
		border: 1px solid @ca-dark-1;
	}

	&:focus {
		outline: 0;
	}
}









.outline-inward {
	display: inline-block;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);

	&:before {
		content: '';
		position: absolute;
		border: @ca-dark-1 solid 5px;
		top: -16px;
		right: -16px;
		bottom: -16px;
		left: -16px;
		opacity: 0;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
		-webkit-transition-property: top, right, bottom, left;
		transition-property: top, right, bottom, left;
	}

	&:hover:before {
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -8px;
		opacity: 1;
	}
}