<div class="ca-loader" ng-hide="rendered">
	<i class="fa fa-refresh fa-spin fa-5x"></i>
</div>

<div class="ca-chart-line ca-blur" ng-class="rendered ? 'disabled' : ''">
	<div class="ca-chart-options">
		<div class="btn-group">
			<button class="btn btn-primary btn-sm" ng-model="chartType" btn-radio="'relative'">Relative</button>
			<button class="btn btn-primary btn-sm" ng-model="chartType" btn-radio="'absolute'">Absolute</button>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm" disabled>7d</button>
			<button type="button" class="btn btn-primary btn-sm" disabled>1m</button>
			<button type="button" class="btn btn-primary btn-sm" disabled>6m</button>
			<button type="button" class="btn btn-primary btn-sm" disabled>1y</button>
			<button type="button" class="btn btn-primary btn-sm" disabled>max</button>
		</div>

		<div class="ca-beta">
			<h3>BETA</h3>
		</div>
	</div>

	<svg></svg>

</div>