<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>CoinArb - Alternative Currency Arbitrage Watcher</title>
	<base href="/coinarb/web/">

	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="AppCtrl as app">

<div id="ca-exchanges">
	<div ng-class="'col-lg-' + app.cols" ng-repeat="exchange in app.data">
		{{ exchange.displayNameEng }}
		<br/>

		<i class="fa fa-usd"></i><span class="display">{{ exchange.fetched.current.last }}</span> / <i class="fa fa-bitcoin"></i>
		<br/>
		<span class="label"
		      ng-class="'label-' + (app.diff(exchange.fetched.current.last, exchange.fetched.previous.last) > 0 ? 'success' : 'danger')"
		      ng-if="app.show(app.diff(exchange.fetched.current.last, exchange.fetched.previous.last, true))">
			<i class="fa"
			   ng-class="'fa-arrow-' + (app.diff(exchange.fetched.current.last, exchange.fetched.previous.last, true) > 0 ? 'up' : 'down')"></i>
			{{ app.diff(exchange.fetched.current.last, exchange.fetched.previous.last, true) | pct }}
		</span>
		<br/>
		Last Trade
		<br/>

		Δ vs. baseline
		<br/>

		▶ <span class="display">{{ exchange.fetched.current.spread }}</span> ◀
		<br/>
		<span class="label"
		      ng-class="'label-' + (app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread) > 0 ? 'success' : 'danger')"
		      ng-if="app.show(app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true))">
			<i class="fa"
			   ng-class="'fa-arrow-' + (app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true) > 0 ? 'up' : 'down')"></i>
			{{ app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true) | pct }}
		</span>
		<br/>
		Bid-Ask Spread
		<br/>

		{{ exchange.fetched.current.updateTime.fromNow() }}
	</div>
</div>

<div id="ca-visual">
	This should be a chart
</div>

<!--vendors-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<script src="bower_components/angular-poller/angular-poller.js"></script>
<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
<!--<script src="http://localhost:4000/coinarb/web/bower_components/socket.io/lib/socket.io.js"></script>-->
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="js/notification.js"></script>

<!--app-->
<script src="js/app.js"></script>
<script src="js/app-data.js"></script>
<script src="js/app-filter.js"></script>

</body>
</html>