<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>CoinArb - Alternative Currency Arbitrage Watcher</title>
	<base href="/coinarb/web/">

	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="AppCtrl as app">

<div id="ca-exchanges">
	<div ng-class="'col-lg-' + app.cols" class="ca-exchange" ng-repeat="exchange in app.data">
		<h2>{{ exchange.displayNameEng }}</h2>


		<!--<div class="wrapper" ng-class="(app.socketConnected && exchange.id === 'mtgox') ? '' : 'ca-blur'">-->
		<div class="wrapper">
			<ca-num-display name="Last Trade"
											type="price"
											show="app.show(input, eq)"
											diff="app.diff(cur, pre, pct)"
											cur="exchange.fetched.current.last"
											pre="exchange.fetched.previous.last"
											eq="0"></ca-num-display>

			<!--<ca-num-display-->
					<!--type="spread"-->
					<!--show="app.show(input, equality)"-->
					<!--data="exchange.fetched.current.spread" eq="0"></ca-num-display>-->

			<!--<span class="label"-->
			      <!--ng-class="'label-' + (app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread) > 0 ? 'success' : 'danger')"-->
			      <!--ng-if="app.show(app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true), 0.009)">-->
				<!--<i class="fa"-->
				   <!--ng-class="'fa-arrow-' + (app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true) > 0 ? 'up' : 'down')"></i>-->
				<!--{{ app.diff(exchange.fetched.current.spread, exchange.fetched.previous.spread, true) | pct }}-->
			<!--</span>-->
			<br/>
			Bid-Ask Spread
			<br/>

			<small>{{ exchange.fetched.current.updateTime.fromNow() }}</small>

			<br/>
			Δ vs. baseline {{ app.baseline }}
			<br/>
			<button type="button" class="ca-button outline-inward" ng-click="app.baseline = exchange.id">
				<span>Baseline</span>
			</button>
		</div>

	</div>
</div>

<div id="ca-visual">
	This should be a chart
</div>

<!--vendors-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<script src="bower_components/angular-poller/angular-poller.js"></script>
<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
<!--<script src="http://localhost:4000/coinarb/web/bower_components/socket.io/lib/socket.io.js"></script>-->
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="js/notification.js"></script>

<!--app-->
<script src="js/app.js"></script>
<script src="js/app-data.js"></script>
<script src="js/app-filter.js"></script>
<script src="js/app-dir.js"></script>

</body>
</html>