<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>CoinArb - Alternative Currency Arbitrage Watcher</title>
	<base href="/coinarb/web/">

	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="AppCtrl as app">

<div id="ca-exchanges">
	<div ng-class="'col-lg-' + app.cols" class="ca-exchange" ng-repeat="exchange in app.data">
		<h2>{{ exchange.displayNameEng }}</h2>

		<i ng-hide="exchange.fetched.initialized === true" class="fa fa-refresh fa-spin fa-5x"></i>

		<div class="wrapper" ng-class="exchange.fetched.initialized === true ? '' : 'ca-blur'">
			<ca-num-display name="Last Trade"
											type="price"
											show="app.show(input, eq)"
											diff="app.diff(cur, pre, pct)"
											cur="exchange.fetched.current.last"
											pre="exchange.fetched.previous.last"></ca-num-display>

			<ca-num-display name="Bid-Ask Spread"
			                type="spread"
			                show="app.show(input, eq)"
			                diff="app.diff(cur, pre, pct)"
			                cur="exchange.fetched.current.spread"
			                pre="exchange.fetched.previous.spread"></ca-num-display>

			<br/>
			<small>{{ exchange.fetched.current.updateTime.fromNow() }}</small>

			<br/>
			{{ app.diffBaseline(exchange.fetched.current.last) | round }}
			<br/>
			Δ vs. baseline {{ app.baseline }}
			<br/>

			<button type="button" class="ca-button outline-inward" ng-click="app.baseline = exchange.id">
				<span>Baseline</span>
			</button>
		</div>

	</div>
</div>

<div id="ca-visual">
	This should be a chart
</div>

<!--vendors-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<script src="bower_components/angular-poller/angular-poller.js"></script>
<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
<!--<script src="http://localhost:4000/coinarb/web/bower_components/socket.io/lib/socket.io.js"></script>-->
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="js/notification.js"></script>

<!--app-->
<script src="js/app.js"></script>
<script src="js/app-data.js"></script>
<script src="js/app-filter.js"></script>
<script src="js/app-dir.js"></script>

</body>
</html>